

.list, h1, h2, p {
    font-family:Verdana, Helvetica, sans-serif;
}

.title {
    text-align: center;
    color:rgb(35, 98, 161);
}

.list {
    text-align:center;
    color:rgb(57, 19, 105);
    background-color: pink;
}

h2 {
    text-align: center;
    color:darkblue;
    font-weight: 700;
    text-decoration: underline;
}

.desc {
    font-size: 18px;
    color: red;
    background-color: black;
}

a:link, a:visited {
    background-color: rgb(156, 14, 195);
    color: white;
    text-decoration: none;
    padding: 8px 18px;
    text-align: center;
    display: inline-block;
}